table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Optional: Add some styling for responsiveness */
@media (max-width: 600px) {
    table {
        border: 0;
    }

    th, td {
        border: 1px solid #ddd;
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    th {
        text-align: center;
    }
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.lottery-spinner {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 5px;
    background-color: #fff;
}

#spin-button {
    font-size: 16px;
    padding: 8px 16px;
    margin: 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

/* Style buttons */
.buttonload {
    background-color: #04AA6D; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px /* Set a font size */
}


